@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    color: var(--main-color);
}
a{
    text-decoration: none;
    color: inherit;
}
ul li{
    list-style: none;
}
button, input{
    border: 0;
    outline: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
:root{
    --main-color: #9C1628;
    --secondary-color: #F8CED4 ;
}
.App{
    background-color: #fff;
    height: 100%;
    width: 100%;
}
.active{
    width: 100%;
    border-bottom: 2px solid var(--main-color) ;
}


/* --------------------------Media----------------------- */
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}

